.app{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.github{
    margin-top:4%;
    margin-left:10% ;
    border-radius: 7px;
    width:80vw;
    border: 3px solid black;
}
.git{
    margin-top:4%;
    margin-left:10% ;
    border-radius: 7px;
    width:80vw;
    border: 3px solid black;
}
.vscode{
    margin-top:4%;
    margin-left:10% ;
    border-radius: 7px;
    width:80vw;
    border: 3px solid black;
}
.heading{
    border-bottom: 3px solid black;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

.subheading{
    font-size: 2em;
    font-weight: bolder;

}
.text{
    font-size: 1.5em;
}
.text-1{
    font-size: 1.5em;
    font-weight: bolder;
}
.text-2{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: green;
}
.warning{
    font-size: 1em;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}


/* Dark mode styles */
body.dark-mode {
    background-color: #333333;
    color: #ffffff; 
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #070707;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    transition: .4s;
    border-radius: 50%;
}



input:checked + .slider {
    background-color: #000000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #060606;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.right-top{
    position:absolute;
    right: 8px;
    top:15px;
}
@media screen and (max-width: 650px) {
    .heading{
        padding-top: 42px;
    }
}

